* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

html, body, #root {
    height: 100%;
}

/* ---- General --------------------------------------------------------- */
.app-container, .calendar-page, .habits-page, form, .habits-add-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

/* ---- Header ------------------------------------------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    background: rgb(238,174,202);
    background: linear-gradient(132deg, rgba(238,174,202,1) 0%, rgba(181,218,198,1) 34%, rgba(157,195,224,1) 65%, rgba(213,197,255,1) 86%);
    color: rgb(214, 214, 214);
}

.header-title, .header-link {
    color: rgb(255, 254, 199);
}

/* ---- Calendar Page ----------------------------------------------- */
.calendar-page {
    padding: 20px;
}

.calendar-title {
    text-align: center;
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 5px;
    justify-items: center;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    background-color: var(--color);
}

.habit-title {
    justify-self: left;
}

.day {
    text-align: center;
}

/* ---- Pie Charts ------------- */
.pie {
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    background: conic-gradient(var(--color) calc(var(--percentage)*1%),#0000 0);
}

/* ---- Add A Habit -------------------------------------------------------------------------------------------------- */

form {
    align-self: center;
    align-items: center;
    width: 50%;
}

input[type="text"], input[type="number"] , fieldset, .habit-add-submit {
    width: 100%;
    padding: 10px;
}

input[type="text"], input[type="number"] {
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    height: 40px;
    margin: 5px auto 25px auto;
}

fieldset {
    border: none;
    text-align: center;
    padding: 5px 0 25px 0;
}

legend, label, .habit-add-submit {
    font-size: 1.4em;
    align-self: flex-start;
}

.habit-add-submit {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    font-weight: 700;

    color: rgb(255, 254, 199);

    background: rgb(238,174,202);
    background: linear-gradient(132deg, rgba(238,174,202,0.9) 0%, rgba(181,218,198,0.9) 34%, rgba(157,195,224,0.9) 65%, rgba(213,197,255,0.9) 86%);
    box-shadow: 6px 6px 6px #D6D7D9;
}

.habit-add-submit:hover {
    box-shadow: 4px 4px 4px #D6D7D9;
}

.habit-add-submit:active {
    box-shadow: 2px 2px 2px #D6D7D9, inset 0 0 20px 20px #c2bfc14f;
}



/* ---- Radio Buttons ------------------ */

input[type="radio"] {
    display:none;
}

.radio-container {
    text-align: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.checkmark {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--colorRadio);
    border-radius: 50%;

}

.checkmark:hover {
    filter: brightness(75%);
}

input:checked ~ .checkmark { 
    background-color: white;
    border: 8px solid var(--colorRadio);
}





