* {
    margin: 0;
    padding: 0;
}

/* ---- Header ------------------------------------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: red;
}

.header-title {
    align-self: flex-start;
}

